# 서버 포트
SERVER_PORT=8080

# 데이터베이스 (MySQL)
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# OAuth2 (카카오)
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# OAuth2 (구글)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 (네이버)
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=